<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top">{% t test %}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="#objectives">{% t objectives %}</a>
        </li>
        <li class="page-scroll">
          <a href="#results">{% t results %}</a>
        </li>
        <li class="page-scroll">
          <a href="#software">{% t software %}</a>
        </li>
        <li class="page-scroll">
          <a href="#publications">{% t publications %}</a>
        </li>
        <li class="page-scroll">
          <a href="#portfolio">{% t partners %}</a>
        </li>
        <li class="page-scroll">
          <a href="#about">{% t about %}</a>
        </li>
        
        <li class="nav-item">
          <a href="{{site.baseurl_root}}/" style="padding-right: 10px; padding-left: 10px;">
            <img src="img/en.svg" alt="English" title="English" width="20px"/>
          </a>
          </li>
          <li>
            <a href="{{site.baseurl_root}}/es{{page.url}}" style="padding-right: 10px; padding-left: 10px;">
            <img src="img/es.svg" alt="Español" title="Español" width="20px"/>
          </a>
          </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>